p{
    color: orange;
#paragraf {
        color: fuchsia
    }
a, span, div {
         background-color: lime
    }
ul a {
        background-color: blue
    }

    li > a {
        background-color: aquamarine
    }
    h1 + p {
        color: red
    }
    ul#list > li:not(.last) {
        background-color: bisque}
    ul#lista > li:nth-child(3) {
        background-color: red
    }
}